.MuiPaper-root {
    scrollbar-color: lightgray white;
    scrollbar-width: thin;
}

html {
    min-height: 100vh;
    background-color: #f8f8ff;
    overflow: scroll;
    scrollbar-color: white lightgray;
    scrollbar-width: thin;
}
